@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid d-flex flex-column justify-content-center gap-2 w-75 mt-4">
    <button class="btn btn-outline-secondary" style="width:2.5em;" onclick="window.location.href='/Home/Index'">
        <i class="bi bi-chevron-left"></i>
    </button>
    <h2 class="fw-bold pb-4 mt-4">Welcome Back! Glad to see you, Again!</h2>
    <div class="d-flex flex-column gap-3 w-100">
        <input type="text" class="form-control" placeholder="Enter username" aria-label="Username" aria-describedby="basic-addon1"/>
        <div class="input-group">
            <input type="password" class="form-control pr-5" id="passwordInput" placeholder="Enter password" aria-label="Password"/>
            <span class="position-absolute top-50 end-0 translate-middle-y pe-3" style="cursor:pointer; z-index:2;" onclick="togglePasswordVisibilityById('passwordInput', 'toggleIcon')">
                <i id="toggleIcon" class="bi bi-eye"></i>
            </span>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <input type="checkbox" class="form-check-input" id="rememberMe"/>
                <span>Remember me</span>
            </div>
            <span>
                <a href="/Login/ForgotPassword">Forgot password?</a>
            </span>
        </div>
        <button type="button" class="btn btn-primary mt-3" onclick="checkLogin()">
            Login
        </button>
        
        <span class="text-center">
            Or Login with
        </span>
        <div class="d-flex justify-content-center gap-3 mb-5">
            <button type="button" class="btn btn-outline-primary btn-lg w-100" style="width:60px; height:60px;">
                <i class="bi bi-google fs-3"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-lg w-100" style="width:60px; height:60px;">
                <i class="bi bi-facebook fs-3"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-lg w-100" style="width:60px; height:60px;">
                <i class="bi bi-apple fs-3"></i>
            </button>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
            <span>
                Don't have an account? <a href="/Login/Signup">Sign up</a>
            </span>
        </div>
    </div>
</div>    

<script src="js/site.js"></script>